<GridLayout>
    <Label class="auth-header" text="Log in to CACOURT" style="margin-top: 30; font-weight: bold;"></Label>
    <TextField class="input-textfield" required hint="Username" autocapitalizationType="allCharacters" style="margin-bottom: 20;"></TextField>
    <TextField class="input-textfield" required hint="Password" autocapitalizationType="allCharacters" style="margin-bottom: 20;"></TextField>
    <Button text="LOGIN" class="fa action-btn" style="padding: 10"></Button>
</GridLayout>